{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- hs Navigation End -->
<!-- btc tittle Wrapper Start -->
<div class="btc_tittle_main_wrapper">
	<div class="btc_tittle_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_left_heading">
					<h1>Dashboard</h1>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_right_heading">
					<div class="btc_tittle_right_cont_wrapper">
						<ul>
							<li>
								<a href="{% url 'index' %}">Home</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>Admin Dashboard</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- btc tittle Wrapper End -->


<!-- x car book sidebar section Wrapper Start -->
<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
	<div class="container">
		<div class="row">
			<!-- sidebar -->
			{% include 'includes/sidebar.html' %}
			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
				<div class="x_carbooking_right_section_wrapper float_left">
					<div class="row">
						<div class="x_services_title_main_wrapper float_left padding_tb_10">
							<div class="container">
								<div class="row">
									<div class="col-md-12">
										<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
											<h4>Website summary</h4>
											<h3>Dashboard</h3>
											<!-- <p>Dashboard and Management console for Site Travel website</p> -->
										</div>
									</div>
									<div class="col-md-12">
										<div class="x_car_acc_bottom_button float_left">
											<p><i class="fa fa-info-circle"></i> {{latest_booking.full_name |title }} booked a {{latest_booking.service}}  {{latest_booking.time_booked |timesince }}</p>
											<!-- <p>
												<i class="fa fa-info-circle"></i> 2 Bookings starting Today
										 		<span class="mx-4 px-5"><i class="fa fa-info-circle "></i> 1  Bookings starting Tomorrow</span>  
											</p> -->
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
										<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-shopping-bag"></i>
											<h3><a href="#">Trips</a></h3>
											<p>
												group packages: {{group_trips}} <br>
												custom packages: {{custom_trips}}
											</p>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
										<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-shopping-bag"></i>
											<h3><a href="#">Accomodation </a></h3>
											<p>
												budget	: {{ accom_budget }} <br>
												mid-range: {{ accom_mid_range }} <br>
												up-market: {{ accom_up_market }}
											</p>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
										<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-idea"></i>
											<h3><a href="#">Flights</a></h3>
											<p>
												one-way tickets: {{ oneway_tickets }}  <br>
												return tickets: {{ return_tickets }}
											</p>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
										<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-pencil-black-tool-interface-symbol"></i>
											<h3><a href="#">Driver</a></h3>
											<p>
												Driver: {{ carhire_driver }}  <br>
												Own: {{ carhire_self }} <br>
											</p>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
										<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-pencil-black-tool-interface-symbol"></i>
											<h3><a href="#">Trip</a></h3>
											<p>
												town: {{ carhire_town }} <br>
												upcountry: {{ carhire_upcountry }}
											</p>
										</div>
									</div>
									<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
										<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-pencil-black-tool-interface-symbol"></i>
											<h3><a href="#">Blog</a></h3>
											<p>Draft: null <br>
												Published: null</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- x car book sidebar section Wrapper End -->

{% endblock %}