{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- hs Navigation End -->
<!-- btc tittle Wrapper Start -->
<div class="btc_tittle_main_wrapper">
	<div class="btc_tittle_img_overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_left_heading">
					<h1>Blogs</h1>
				</div>
			</div>
			<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
				<div class="btc_tittle_right_heading">
					<div class="btc_tittle_right_cont_wrapper">
						<ul>
							<li>
								<a href="{% url 'index' %}">Home</a>
								<i class="fa fa-angle-right"></i>
							</li>
							<li>Blogs</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- btc tittle Wrapper End -->


<!-- x car book sidebar section Wrapper Start -->
<div class="x_blog_sidebar_main_wrapper float_left padding_tb_100">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-8 offset-md-3">
				<p class="text-center">{% include 'includes/messages.html' %}</p>
			</div>
			<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
				<div class="x_blog_right_side_wrapper float_left">
					<div class="row">
						<div class="col-md-12">
							<div class="jp_rightside_job_categories_wrapper jp_blog_right_box_search">
								<div class="jp_rightside_job_categories_heading">
									<h4>Search</h4>
								</div>
								<div class="jp_blog_right_search_wrapper">
									<input type="text" placeholder="Search" />
									<button type="submit"><i class="fa fa-search"></i></button>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
								<div class="jp_rightside_job_categories_heading">
									<h4>Categories</h4>
								</div>
								<div class="jp_rightside_job_categories_content">
									<ul>
										<li>
											<i class="fa fa-long-arrow-right"></i> &nbsp;&nbsp;
											<a href="#">Car Rental(22)</a>
										</li>
										<li>
											<i class="fa fa-long-arrow-right"></i>
											<a href="#"> &nbsp;&nbsp;Hotels (145) </a>
										</li>
										<li>
											<i class="fa fa-long-arrow-right"></i>
											<a href="#"> &nbsp;&nbsp;Trips (21)</a>
										</li>
										<li>
											<i class="fa fa-long-arrow-right"></i>
											<a href="#"> &nbsp;&nbsp;Others (541)</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="
                  jp_rightside_job_categories_wrapper
                  jp_rightside_job_categories_wrapper2
                ">
								<div class="jp_rightside_job_categories_heading">
									<h4>Latest Post</h4>
								</div>
								<div class="jp_rightside_career_main_content">
									<div class="jp_rightside_career_content_wrapper">
										<div class="jp_rightside_career_img">
											<img src="{% static 'images/bs1.jpg' %}" alt="career_img" />
										</div>
										<div class="jp_rightside_career_img_cont">
											<h4><a href="#">Image Blog Post Formate</a></h4>
											<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
										</div>
									</div>
									<div class="jp_rightside_career_content_wrapper">
										<div class="jp_rightside_career_img">
											<img src="{% static 'images/bs2.jpg' %}" alt="career_img" />
										</div>
										<div class="jp_rightside_career_img_cont">
											<h4><a href="#">Image Blog Post Formate</a></h4>
											<p><i class="fa fa-calendar-o"></i> &nbsp;20 OCT, 2017</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="jp_rightside_job_categories_wrapper jp_rightside_job_categories_wrapper2">
								<div class="jp_rightside_job_categories_heading">
									<h4>Archives</h4>
								</div>
								<div class="jp_rightside_job_categories_content">
									<ul>
										<li>
											<i class="fa fa-long-arrow-right"></i> &nbsp;&nbsp;<a href="#">January 2021
											</a>
										</li>
										<li>
											<i class="fa fa-long-arrow-right"></i>
											<a href="#"> &nbsp;&nbsp;February 2021</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-12">
							<div class="
                  jp_rightside_job_categories_wrapper
                  jp_rightside_job_categories_wrapper2
                ">
								<div class="jp_rightside_job_categories_heading">
									<h4>Tag Cloud</h4>
								</div>
								<div class="blog_category_side_menu">
									<ul>
										<li><a href="#">Car</a></li>
										<li><a href="#">Rental</a></li>
										<li><a href="#">Drive</a></li>
										<li><a href="#">Insurance</a></li>
										<li><a href="#">Offer</a></li>
										<li><a href="#">Car</a></li>	
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-12 col-sm-12 col-12">
				<div class="x_carbooking_right_section_wrapper float_left">
					<div class="row">
						<div class="col-md-12">
							<a href="/blog/3">
								<div class="x_car_access_right_price_main_box_wrapper float_left">
									<div class="x_car_access_right_price_main_box_inner_left_wrapper">
										<div class="x_car_access_right_price_img_wrapper">
											<img src="{% static 'images/g1.png' %}" alt="g1_img" />
										</div>
										<div class="x_car_access_right_price_img_cont_wrapper">
											<h3>First Blog</h3>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipi Sicing elit.
											</p>
										</div>
									</div>
									<div class="x_car_access_right_price_main_box_inner_right_wrapper">
										<div class="x_car_acc_price_dollar_wrapper">
											<h3>$25</h3>
											<p>/ day</p>
										</div>
										<div class="x_car_acc_price_dollar_count_wrapper">
											<div class="quantity">
												<input type="number" min="1" max="100" step="1" value="1" class="qty" />
											</div>
										</div>
									</div>
								</div>
							</a>
							
						</div>
						<div class="col-md-12">
							<div class="x_car_access_right_price_main_box_wrapper x_car_access_right_price_main_box_wrapper2 float_left">
								<div class="x_car_access_right_price_main_box_inner_left_wrapper">
									<div class="x_car_access_right_price_img_wrapper">
										<img src="{% static 'images/g2.png' %}" alt="g1_img" />
									</div>
									<div class="x_car_access_right_price_img_cont_wrapper">
										<h3>Babyseat</h3>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipi Sicing elit.
										</p>
									</div>
								</div>
								<div class="x_car_access_right_price_main_box_inner_right_wrapper">
									<div class="x_car_acc_price_dollar_wrapper">
										<h3>$55</h3>
										<p>/ day</p>
									</div>
									<div class="x_car_acc_price_dollar_count_wrapper">
										<div class="quantity">
											<input type="number" min="1" max="100" step="1" value="1" class="qty" />
										</div>
									</div>
								</div>
							</div>
						</div>
					
						
						<div class="col-md-12">
							<div class="x_car_acc_bottom_button float_left">
								<p>
									<i class="fa fa-info-circle"></i> &nbsp;Phasellus ornare, ante
									vitae consectetuer consequat, purus sapien ultricies dolor.
								</p>
							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- x car book sidebar section Wrapper End -->

{% endblock %}