{% extends 'base.html' %}

{% block content %}
    	<!-- btc tittle Wrapper Start -->
	<div class="btc_tittle_main_wrapper">
		<div class="btc_tittle_img_overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_left_heading">
						<h1>Explore Packages</h1>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12 full_width">
					<div class="btc_tittle_right_heading">
						<div class="btc_tittle_right_cont_wrapper">
							<ul>
								<li><a href="{% url 'index' %}">Home</a>  <i class="fa fa-angle-right"></i>
								</li>
								<li>Custom packages</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc tittle Wrapper End -->
	<!-- btc service title Wrapper Start -->
	<div class="x_services_title_main_wrapper float_left padding_tb_100">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="x_offer_car_heading_wrapper x_offer_car_tb_heading_wrapper float_left">
						<h4>What we offer</h4>
						<h3>Custom Packages</h3>
						<p>Do you have a group</p>
					</div>
				</div>
				
				<!-- x tittle num Wrapper Start -->
				<div class="x_title_num_mian_Wrapper float_left">
					<div class="container">
						<div class="x_title_inner_num_wrapper float_left">
							<div class="x_title_num_heading">
								<h3>Choose a package</h3>
								<p>Complete Your Step</p>
							</div>
							<div class="x_title_num_heading_cont">
								<div class="x_title_num_main_box_wrapper">
									<div class="x_icon_num">
										<p>1</p>
									</div>
									<h5>Time & place</h5>
								</div>
								<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper2">
									<div class="x_icon_num x_icon_num2">
										<p>2</p>
									</div>
									<h5>Car</h5>
								</div>
								<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
									<div class="x_icon_num x_icon_num3">
										<p>3</p>
									</div>
									<h5>detail</h5>
								</div>
								<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3">
									<div class="x_icon_num x_icon_num3">
										<p>4</p>
									</div>
									<h5>checkout</h5>
								</div>
								<div class="x_title_num_main_box_wrapper x_title_num_main_box_wrapper3 x_title_num_main_box_wrapper_last">
									<div class="x_icon_num x_icon_num3">
										<p>5</p>
									</div>
									<h5>done!</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- x tittle num Wrapper End -->

				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
					<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-speedometer"></i>
						<h3><a href="#">Well Optimized</a></h3>
						<p>Proin gravida nibh vel velit auctor
							<br>aliquet. Aenean sollicitudin, lorem
							<br>quis bibendum auctor.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
					<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-people"></i>
						<h3><a href="#">Plenty of Features</a></h3>
						<p>Proin gravida nibh vel velit auctor
							<br>aliquet. Aenean sollicitudin, lorem
							<br>quis bibendum auctor.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
					<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-shopping-bag"></i>
						<h3><a href="#">Woo Commerce Ready</a></h3>
						<p>Proin gravida nibh vel velit auctor
							<br>aliquet. Aenean sollicitudin, lorem
							<br>quis bibendum auctor.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
					<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-code"></i>
						<h3><a href="#">Clean Code</a></h3>
						<p>Proin gravida nibh vel velit auctor
							<br>aliquet. Aenean sollicitudin, lorem
							<br>quis bibendum auctor.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
					<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-idea"></i>
						<h3><a href="#">Smart Approach</a></h3>
						<p>Proin gravida nibh vel velit auctor
							<br>aliquet. Aenean sollicitudin, lorem
							<br>quis bibendum auctor.</p>
					</div>
				</div>
				<div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12 full_width">
					<div class="x_slider_bottom_box_wrapper x_service_inner_main_box">	<i class="flaticon-pencil-black-tool-interface-symbol"></i>
						<h3><a href="#">Timeless Design</a></h3>
						<p>Proin gravida nibh vel velit auctor
							<br>aliquet. Aenean sollicitudin, lorem
							<br>quis bibendum auctor.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- btc service title Wrapper End -->

	<!-- x footer Wrapper Start -->
	<!-- <div class="x_footer_top_main_wrapper float_left">
		<div class="container">
			<div class="row">
				<div class="col-xl-3 col-lg-3 col-md-12 col-sm-12 col-12">
					<div class="x_footer_top_left float_left">
						<img src="images/footer_logo.png" alt="logo">
					</div>
				</div>
				<div class="col-xl-9 col-lg-9 col-md-12 col-sm-12 col-12">
					<div class="x_footer_top_right float_left">
						<div class="x_footer_top_title_box x_footer_top_title_box1">
							<div class="x_footer_top_title_box_icon_cont">	<i class="flaticon-pie-chart"></i>
								<h3>latest News</h3>
							</div>
						</div>
						<div class="x_footer_top_title_box">
							<div class="x_footer_top_title_box_icon_cont">	<i class="flaticon-phone-call"></i>
								<h3>Contact our Office</h3>
							</div>
						</div>
						<div class="x_footer_top_title_box">
							<div class="x_footer_top_title_box_icon_cont x_footer_top_title_box_icon_cont_first">	<i class="flaticon-home-page"></i>
								<h3>Get Appointment</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div> -->
	<!-- x footer Wrapper End -->

{% endblock content %}
    